# FastAPI
instance/
app.db
*.sqlite3
dist/

#PyTest-cov
.coverage

# Python cache
__pycache__/
*.py[cod]

# PyCharm
.idea/
*.iml
*.ipr
*.iws
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml

# VS Code
.vscode/
.vscode/*
